<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/output.css') }}">
        <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>
    <body>
   
        <div>
            Microblog:
            <a href="{{ url_for('core.index') }}">Home</a>
            <a href="{{ url_for('core.song_search') }}">Search</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>